<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Frec.ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: PhotoFolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="../static/assets/img/logo.png" alt="bi bi-camera">
        <h1>Frec.ai</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="Main.html">Home</a></li>
          <li><a href="Career.html">Careers</a></li>
          
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Careers</h2>
            <p>Here are the possible careers to have inside the computer related field.</p>

            <a class="cta-btn" href="Questionaire.html">Take a Test</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">2D animator</a></h4>
                  <p>Creates movement in a two-dimensional space, often for cartoons, games, or advertisements.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">3D animator</a></h4>
                  <p>Produces animations in a three-dimensional environment, typically for movies, video games, or simulations.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">3D modeler</a></h4>
                  <p>Designs and creates 3D models used in animation, gaming, architecture, and more.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Animation supervisor</a></h4>
                  <p>Oversees the animation team, ensuring quality and consistency in the animation production.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Animator</a></h4>
                  <p>Creates the illusion of movement for various mediums like film, television, and video games.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Artificial intelligence specialist</a></h4>
                  <p> Develops and applies AI algorithms and techniques to solve problems or improve systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Book designer</a></h4>
                  <p>Designs the layout and visual elements of books, including covers, fonts, and page formatting.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Business intelligence analyst</a></h4>
                  <p>Analyzes data to provide insights for making business decisions.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Character designer</a></h4>
                  <p>Develops visual concepts and designs for characters in various media such as animation, games, and comics.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Cisco Certified Internetwork Expert</a></h4>
                  <p>A certified professional in designing, implementing, and troubleshooting Cisco networking solutions.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Clinical informatics director</a></h4>
                  <p>Manages healthcare information systems and data to improve patient care and outcomes.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Compositor</a></h4>
                  <p>Combines visual elements from multiple sources into a single image or sequence.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Computer forensics investigator</a></h4>
                  <p>Investigates and analyzes digital evidence for legal or cybersecurity purposes.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Computer hardware engineer</a></h4>
                  <p>Designs and develops computer hardware components such as processors, memory, and circuit boards.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Computer programmer</a></h4>
                  <p>Writes, tests, and maintains code for software applications and systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Computer science professor</a></h4>
                  <p>Teaches computer science courses at the university level and conducts research in the field.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Computer support specialist</a></h4>
                  <p>Provides technical assistance and support to computer users within an organization.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Concept artist</a></h4>
                  <p>Creates visual concepts for characters, environments, or objects in various industries like gaming, film, and advertising.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Cybersecurity specialist</a></h4>
                  <p>Protects computer systems and networks from cyber threats and attacks.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Data analyst</a></h4>
                  <p>Collects, processes, and analyzes data to provide insights and support decision-making.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Data architect</a></h4>
                  <p>Designs and builds the structure and framework for managing and organizing data.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Data engineer</a></h4>
                  <p>Develops, constructs, tests, and maintains architectures for data generation.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Data scientist</a></h4>
                  <p>Analyzes complex data to extract insights and make predictions using various tools and techniques.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Data warehouse specialist</a></h4>
                  <p>Manages and designs systems to store and retrieve large amounts of data for analysis.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Database analyst</a></h4>
                  <p>Manages, maintains, and secures databases to ensure efficient access and retrieval of information.</p>
              </div>
          </div>

                    <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">DevOps engineer</a></h4>
                  <p>Collaborates with developers and IT staff to automate and streamline the software development and delivery process.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Document imaging specialist</a></h4>
                  <p>Converts paper documents into digital formats using specialized equipment and software.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">eCommerce consultant</a></h4>
                  <p>Provides expertise and guidance to businesses looking to establish or improve their online retail presence.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">EDI systems analyst</a></h4>
                  <p>Manages electronic data interchange systems for seamless data exchange between businesses.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Electronics engineer</a></h4>
                  <p>Designs and develops electronic components, devices, and systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Enterprise architect</a></h4>
                  <p>Designs and manages an organization's overall structure, including its technology infrastructure.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Environment artist</a></h4>
                  <p>Creates 3D environments, including landscapes, buildings, and objects, for use in games, films, or virtual reality.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Ethical hacker</a></h4>
                  <p>Identifies and resolves security vulnerabilities in computer systems and networks by using hacking techniques in an ethical manner.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Food stylist</a></h4>
                  <p>Prepares and styles food for photography, film, or television to make it visually appealing.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Game artist</a></h4>
                  <p>Creates visual elements like characters, backgrounds, and assets for video games.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Game designer</a></h4>
                  <p>Designs the gameplay, rules, and overall concept of video games.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Game developer</a></h4>
                  <p>Builds and codes video games for various platforms and devices.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Game director</a></h4>
                  <p>Oversees the creative vision and development of a video game, ensuring it meets design and quality standards.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Game producer</a></h4>
                  <p>Manages the production and development of video games, coordinating teams and resources.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Graphic designer</a></h4>
                  <p>Creates visual concepts using computer software or by hand for various purposes like advertisements, brochures, and logos.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Help desk analyst</a></h4>
                  <p>Provides technical support and assistance to end-users facing IT issues.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Illustrator</a></h4>
                  <p>Creates visual representations, often in the form of drawings or paintings, for books, magazines, or other media.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Information architect</a></h4>
                  <p>Organizes and structures information to enhance usability and findability in websites or systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Information technology consultant</a></h4>
                  <p>Provides advice and solutions on how technology can be utilized to achieve business goals.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Interaction designer</a></h4>
                  <p>Designs the interaction between users and digital products, focusing on usability and user experience.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Interactive designer</a></h4>
                  <p>Creates interactive elements for digital media, such as websites or applications.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">IT instructor</a></h4>
                  <p>Educates individuals or groups on various aspects of information technology.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">IT manager</a></h4>
                  <p>Oversees an organization's IT operations, including infrastructure, policies, and team management.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">IT operations analyst</a></h4>
                  <p>Monitors and maintains an organization's IT systems and infrastructure to ensure smooth operation.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Java developer</a></h4>
                  <p>Specializes in programming using the Java programming language.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Layout artist</a></h4>
                  <p>Designs the layout and arrangement of visual elements in publications, websites, or other media.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Lead software engineer</a></h4>
                  <p>Guides and manages a team of software engineers in developing applications or systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Level designer</a></h4>
                  <p>Designs and creates levels, missions, and challenges in video games.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Machine learning engineer</a></h4>
                  <p>Designs and develops machine learning systems and algorithms.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Mobile application developer</a></h4>
                  <p>Creates applications specifically for mobile devices like smartphones and tablets.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Modeling supervisor</a></h4>
                  <p>Oversees the creation and development of 3D models in animation or gaming projects.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Motion graphic artist</a></h4>
                  <p>Creates animated visual content for various mediums like videos, films, and advertisements.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Multimedia artist</a></h4>
                  <p>Creates visual or artistic content using various mediums, including digital tools.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network administrator</a></h4>
                  <p>Manages and maintains an organization's computer networks and systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network analyst</a></h4>
                  <p>Analyzes and optimizes network performance and security.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network architect</a></h4>
                  <p>Designs and plans computer networks, including local area networks (LANs), wide area networks (WANs), and intranets.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network designer</a></h4>
                  <p>Develops the layout and architecture of computer networks, considering functionality and efficiency.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network engineer</a></h4>
                  <p>Designs, implements, and manages computer networks, including hardware and software components.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Network manager</a></h4>
                  <p>Oversees the operations and maintenance of an organization's computer networks.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">New media specialist</a></h4>
                  <p>Creates content for digital platforms or innovative media channels.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Nurse informaticist</a></h4>
                  <p>Integrates nursing science with information management and analytical sciences to support nursing practice and patient care.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Online media buyer</a></h4>
                  <p>Purchases advertising space or time for online marketing campaigns.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Quality assurance engineer</a></h4>
                  <p>Tests software applications to ensure they meet quality standards and perform as expected.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Quality assurance manager</a></h4>
                  <p>Oversees the quality control process for products or services within an organization.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Search engine optimization (SEO) specialist</a></h4>
                  <p>Improves a website's visibility in search engine results through optimization techniques.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Security administration</a></h4>
                  <p>Manages and implements security measures to protect an organization's systems and data.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Semiconductor process engineer</a></h4>
                  <p>Develops and improves manufacturing processes for semiconductor devices.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Senior web developer</a></h4>
                  <p>An experienced professional specializing in web development.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">SEO analyst</a></h4>
                  <p>Analyzes and implements strategies to improve a website's search engine ranking.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">SEO consultant</a></h4>
                  <p>Provides advice and guidance to improve a website's search engine visibility and performance.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Sign designer</a></h4>
                  <p>Designs visual graphics and signs for various purposes like advertising, wayfinding, or branding.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Software architect</a></h4>
                  <p>Designs high-level structures for software solutions, considering technical and business aspects.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Software developer</a></h4>
                  <p>Creates software applications by writing code, testing, and maintaining software systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Software Release Manager</a></h4>
                  <p>Coordinates and manages the release of software products or updates.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Software tester</a></h4>
                  <p>Evaluates software applications to ensure they function correctly and meet requirements..</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Statistical programmer</a></h4>
                  <p>Writes and validates programs to analyze and process statistical data.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Storyboard artist</a></h4>
                  <p>Creates visual storyboards outlining scenes for movies, animations, or commercials.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">System administrator</a></h4>
                  <p>Manages and maintains an organization's computer systems and servers.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">System analyst</a></h4>
                  <p>Analyzes an organization's computer systems and procedures to improve efficiency and functionality.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Systems architect</a></h4>
                  <p>Designs and oversees the structure and integration of computer systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Systems engineer</a></h4>
                  <p>Develops and manages complex systems, including hardware and software.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Technical artists</a></h4>
                  <p>Combines artistic ability with technical knowledge to improve the visual quality of games or digital media.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Telecommunication specialist</a></h4>
                  <p>Designs, installs, and maintains communication systems.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Telecommunications engineer</a></h4>
                  <p>Designs and develops telecommunications systems and equipment.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Texture artist</a></h4>
                  <p>Creates surface textures for 3D models used in animation, games, or films.</p>
              </div>
          </div>

            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">User experience designer</a></h4>
                  <p>Designs the overall experience of a product or service, ensuring it's user-friendly and intuitive.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">User interaction designer</a></h4>
                  <p>Focuses on how users interact with a product or service, aiming for seamless interaction and usability.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">User interface designer</a></h4>
                  <p>Designs the visual elements of a product or service, emphasizing its look and feel.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Video game technical artist</a></h4>
                  <p>Combines artistic skills with technical expertise to optimize visuals and workflow in game development.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Visual designer</a></h4>
                  <p>Designs visual content for various mediums, ensuring aesthetic appeal and effective communication.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Visual development artist</a></h4>
                  <p>Creates visual concepts and designs for films, animation, or games, setting the visual direction./p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Web content manager</a></h4>
                  <p>Manages and oversees the content published on websites, ensuring its relevance and accuracy.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Web designer</a></h4>
                  <p>Designs and creates the visual elements and layout of websites.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Web developer</a></h4>
                  <p>Builds and maintains websites, focusing on functionality and performance.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Web editor</a></h4>
                  <p>Edits and prepares written content for publication on websites, ensuring accuracy and quality.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Webmaster</a></h4>
                  <p>Manages and oversees the operation and maintenance of one or more websites.</p>
              </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                  <h4><a href="" class="stretched-link">Website administrator</a></h4>
                  <p>Manages and maintains the technical aspects of a website, ensuring its smooth operation.</p>
              </div>
          </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Frec.ai</span></strong>. DelaCruz, Reniva, Viña.
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>