<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Frec.ai</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/logo.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center  me-auto me-lg-0">
        <img src="../static/assets/img/logo.png" alt="bi bi-camera">
        <h1>Frec.ai</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="Main.html">Home</a></li>
          <li><a href="Career.html">Careers</a></li>
          
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2><span>Career</span> Recommender</h2>
            <p>An automated career recommender that is based on your Interests, Skills, and Hobbies.</p>

            <a class="cta-btn" href="Questionaire.html">Take the test </a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

        <!-- ======= Gallery Single Section ======= -->
        <section id="gallery-single" class="gallery-single">
          <div class="container">
    
            <div class="row justify-content-between gy-4 mt-4">
    
              <div class="col-lg-8">
                <div class="portfolio-description">
                  <h2>What to know about Frec</h2>
                  <p>
                    Introducing Frec - Your Advanced AI Career Recommender specializing in computer-related studies. Built on cutting-edge artificial intelligence, Frec serves as your expert navigator through the intricate landscape of technology-driven professions. With precision and insight, Frec offers bespoke recommendations tailored to your aspirations, guiding you toward a future at the forefront of computing innovation.
                  </p>
                  <p>
                    Our platform assimilates vast data sets and industry trends, leveraging sophisticated algorithms to match your skills and ambitions with the most promising career pathways in technology. As Steve Jobs famously envisioned, 'The future of computing is about a billion times more exciting than the past.' Embrace this visionary future with Frec as your ally, unlocking the boundless potential of the digital era. Experience the transformative power of AI guidance as you embark on a journey towards a fulfilling and impactful career in the ever-evolving realm of technology.
                  </p>
    
                  <div class="testimonial-item">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      The future of computing is about a billion times more exciting than the past.
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <div>
                      <img src="../static/assets/img/testimonials/stevejobs.jpg" class="testimonial-img" alt="">
                      <h3>Steve Jobs</h3>
                      <h4>CEO of Apple</h4>
                    </div>
                  </div>
    
                  <p>
                    Despite impediments and the complexities inherent in choosing a career path, Frec stands as your beacon, mitigating uncertainties and unveiling opportunities amidst challenges. Our meticulous approach, akin to the scrutiny of perspicacious vision, identifies and magnifies potential paths aligned with your aspirations. We understand that decisions of this magnitude necessitate careful consideration, and Frec is here to ease the burden by presenting curated options, eliminating conjectures, and steering you towards clarity.
                  <p>
                    Within the tapestry of possibilities, Frec illuminates the nuances, ensuring that your journey is not only guided by wisdom but also driven by passion. We recognize the significance of individual preferences and adeptly navigate through varied career landscapes, liberating you from the burden of confusion.
                  <p>
                    In the pursuit of fulfillment, Frec is your steadfast companion, simplifying complexities, and transforming challenges into stepping stones toward success. Your ambitions deserve the expertise and nuanced understanding that Frec embodies. Embrace the ease and confidence in your career decisions with Frec - where wisdom and technology converge to sculpt your future. 
                  </p>

    
                </div>
              </div>
    
              <div class="col-lg-3">
                <div class="portfolio-info">
                  <h3>Project information</h3>
                  <ul>
                    <li><strong>Category</strong> <span>Career Recommender</span></li>
                    <li><strong>Client</strong> <span>Computer Related Students</span></li>
                    <li><strong>Project Date</strong> <span>November, 2023</span></li>
                  </ul>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Gallery Single Section -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

      </div>
    </section>

  </main><!-- End #main -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container">
  
          <div class="section-header">
            <h2>Developers</h2>
            <p>Computer Science Students</p>
          </div>
  
          <div class="slides-3 swiper">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    What if mag league tayo noh, tapos bilin mo na yung Lethal Company?
                  </p>
                  <div class="profile mt-auto">
                    <img src="../static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Raniel John Viña</h3>
                    <h4>Leader &amp; Full-Stack Developer</h4>
                    <h4>201780085</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    Money can't buy you happiness, pero atleast bawas yung stress. -2023
                  </p>
                  <div class="profile mt-auto">
                    <img src="../static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>John Brainard Dela Cruz</h3>
                    <h4>Full-Stack Developer</h4>
                    <h4>202131368</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    N/A
                  </p>
                  <div class="profile mt-auto">
                    <img src="../static/assets/img/testimonials/testimonials-3.png" class="testimonial-img" alt="">
                    <h3>Matthew Reniva</h3>
                    <h4>Deployment Manager</h4>
                    <h4>202130101</h4>
                  </div>
                </div>
              </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Frec.ai</span></strong>. DelaCruz, Reniva, Viña.
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>